.repofilter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.repository-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--spacing-lg);
  margin: 0;
  padding: 0;
}
