.footer {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-lg) var(--spacing-md);
}

.footer__link {
  color: var(--color-white);
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}

.footer__link:hover {
  color: var(--color-white);
  transition: color var(--transition-fast);
}
